/*
 Theme Name:Restaurant and Cafe child
 Theme URL: http://hostinger-tutorials.ru/reastaurant-and-cafe-child/
 Description: reastaurant-and-cafe-child Theme
 Author: John Doe
 Author URL: http://hostinger-tutorials.ru
 Template: restaurant-and-cafe
 Version: 1.1
 Text Domain: restaurant-and-cafe-child
 */
#polylang-3 {
    position: relative !important;
}

#polylang-3 ul {
    position: absolute;
    right: -20%;
    bottom: -8%;
    margin: 0.4%;
}

#polylang-3 ul li{
    margin-left: 5px;
}

#polylang-3 ul li a span{
    display: none;
}

@media all and (max-width: 1300px){
    #polylang-3 ul {
        position: inherit;
        margin: -14% 0% -20% -0%;
        right: 40%;
    }
}

@media all and (max-width: 990px){
    #sidr-id-ololo #sidr-id-polylang-3 ul li a span{
        display: inline-block !important;
    }
}